/UP_Sem_*/CMakeLists.txt
/.idea/*
/UP_Sem_6/.idea/*
/UP_Sem_10/.idea/*
/UP_Sem_9/.idea/*
.DS_Store
/UP_Sem_*/cmake-build-debug/*
test
getCharOccurrencesCount
Pract_10_Zad3
Zad_1_Group_1
Zad_2_Group_1
Zad_3_Group_1
Zad_4_Group_1
Zad_5_Group_1
Zad_6_Group_1
Zad_8_Group_1
Zad_11_Group_1